pwc-choices-input-bar {
  margin: 0;
  font-size: medium;
  font-family: Calibri, sans-serif;
  border: 1px solid black;
  min-height: 44px;
  padding: 5px;
  display: flex;
  flex-wrap: nowrap;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
}

.pwc-choices___input-bar-main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.pwc-choices___input-bar-dropdown-icon {
  flex-grow: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 0 10px 0 10px;
}

.pwc-choices___single-select-input-bar-item {
  display: flex;
  align-items: center;
  margin: 10px;
}

.pwc-choices___single-select-input-bar-placeholder {
  color: grey;
}

.pwc-choices___single-select-input-bar-item > img {
  display: block;
  flex-grow: 0;
  margin-right: 10px;
}

.pwc-choices___single-select-input-bar-item > span {
  display: block;
  flex-grow: 1;
}
