pwc-choices-input-bar {
  margin: 0;
  font-size: medium;
  font-family: Calibri, sans-serif;
  border: 1px solid black;
  padding: 5px;
  display: flex;
  flex-wrap: nowrap;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;

  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

pwc-choices-input-bar[calculating] > .pwc-choices___input-bar-main {
  visibility: hidden;
  overflow: visible;
}

.pwc-choices___option-count {
  display: block;
  margin: auto;
}

.pwc-choices___flex-align-main-start {
  justify-content: flex-start;
  justify-items: flex-start;
}

.pwc-choices___flex-align-main-center {
  justify-content: center;
  justify-items: center;
}

.pwc-choices___flex-align-cross-start {
  align-content: flex-start;
  align-items: flex-start;
}

.pwc-choices___flex-align-cross-center {
  align-content: center;
  align-items: center;
}

.pwc-choices___input-bar-main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  overflow-y: auto;
}

.pwc-choices___input-bar-dropdown-icon {
  flex-grow: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 0 10px 0 10px;
}

.pwc-choices___single-select-input-bar-item {
  display: flex;
  padding: 10px;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;

  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.pwc-choices___single-select-input-bar-placeholder {
  color: grey;
}

.pwc-choices___single-select-input-bar-item > img {
  display: block;
  flex-grow: 0;
  margin-right: 10px;
}

.pwc-choices___single-select-input-bar-item > span {
  order: 1;
  display: block;
  flex-grow: 1;
  overflow-y: auto;
}

.pwc-choices___single-select-input-bar-item > img[placement="left"] {
  order: 0;
  margin-right: 10px;
}

.pwc-choices___single-select-input-bar-item > img[placement="right"] {
  order: 2;
  margin-left: 10px;
}
