* {
  margin: 0;
  padding: 0;
  transition: background-color ease 0.2s;
}

.container {
  user-select: none;
  position: relative;
  width: 100%;
}

.input-bar {
  border: 1px solid black;
  min-height: 44px;
  padding: 5px;
  display: flex;
  flex-wrap: nowrap;
}

.input-bar-main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.input-bar-dropdown-icon {
  flex-grow: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 0 10px 0 10px;
}

.dropdown {
  border: 1px solid black;
  max-height: 250px;
  overflow-y: scroll;
  position: absolute;
  background-color: white;
  box-sizing: border-box;
  width: 100%;
}

.dropdown > ul {
  display: flex;
  flex-direction: column;
}

.dropdown > ul > li {
  cursor: pointer;
  //   user-select: none;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.dropdown > ul > li:hover {
  background-color: #eee;
}

.dropdown > ul > li + li {
  border-top: 1px solid black;
}

.bubble {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin: 5px;
  min-height: 22px;
}

.bubble-label {
}

.bubble-closeButton {
  margin-left: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  //   user-select: none;
}

#placeholderBubble {
  color: grey;
}

#noOptionsListItem {
  cursor: default;
  color: grey;
}
