* {
  margin: 0;
  padding: 0;
}

.container {
  user-select: none;
}

.input-bar {
  border: 1px solid black;
  min-height: 44px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}

.dropdown {
  border: 1px solid black;
  max-height: 250px;
  overflow-y: scroll;
}

.dropdown > ul {
  display: flex;
  flex-direction: column;
}

.dropdown > ul > li {
  cursor: pointer;
  //   user-select: none;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.dropdown > ul > li + li {
  border-top: 1px solid black;
}

.bubble {
  border: 1px solid black;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 5px;
  min-height: 22px;
}

.bubble-label {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.bubble-closeButton {
  margin-left: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  //   user-select: none;
}
